body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
}

input {
    width: 100%;
    padding: 10px;
    border: 2px solid #5f9341;
    box-sizing: border-box;
}

button {
    background-color: #5f9341;
    color: #fff;
    font-weight: bold;
    border: 2px solid #5f9341;
    padding: 1em;
    margin-top: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #507c36;
}

#delete-btn {
 background-color: #fff;
 color: #5f9341;
}

#delete-btn:hover {
    background-color: #5f9341;
    color: #fff;
}

ul {
    padding-left: 0;
    margin-top: 20px;
}

li {
    list-style: none;
    padding-left: 0;
    margin-top: 5px;
}

li a {
    color: #507c36;
}